# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
 Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build
Pods/Headers/Private/Kanna/Kanna.h
Pods/Headers/Public/Kanna/Kanna-umbrella.h
Pods/Headers/Public/Kanna/Kanna.h
Pods/Headers/Public/Kanna/Kanna.modulemap
Pods/Kanna/LICENSE
Pods/Kanna/Modules/libxml2-kanna.h
Pods/Kanna/Modules/module.modulemap
Pods/Kanna/README.md
Pods/Kanna/Sources/Kanna/CSS.swift
Pods/Kanna/Sources/Kanna/Deprecated.swift
Pods/Kanna/Sources/Kanna/Kanna.h
Pods/Kanna/Sources/Kanna/Kanna.swift
Pods/Kanna/Sources/Kanna/libxmlHTMLDocument.swift
Pods/Kanna/Sources/Kanna/libxmlHTMLNode.swift
Pods/Kanna/Sources/Kanna/libxmlParserOption.swift
Pods/Pods.xcodeproj/project.pbxproj
Pods/Target Support Files/Kanna/Kanna-dummy.m
Pods/Target Support Files/Kanna/Kanna-prefix.pch
Pods/Target Support Files/Kanna/Kanna.xcconfig
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily-acknowledgements.markdown
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily-acknowledgements.plist
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily-dummy.m
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily-frameworks.sh
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily-resources.sh
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily-umbrella.h
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily.debug.xcconfig
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily.modulemap
Pods/Target Support Files/Pods-DividendDaily/Pods-DividendDaily.release.xcconfig
